/*Couleurs*/
/*Media Queries*/
/*Media Queries - Tablette*/
/*Media Queries - Desktop*/
/*boutton*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.bouton {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 68px;
  text-align: center;
}
.bouton a {
  color: white;
}
.bouton__texte {
  font-size: 15px;
  margin: auto;
  min-width: 180px;
  padding-left: 22px;
  padding-right: 22px;
  align-content: center;
  border: none;
  -webkit-box-shadow: 0px 6px 14px -6px #0000008c;
  box-shadow: 0px 6px 14px -6px #0000008c;
  border-radius: 32px;
  margin-bottom: 16px;
  height: 52px;
  cursor: pointer;
  color: white;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .bouton__texte {
    width: 30%;
  }
}
@media screen and (min-width: 992px) {
  .bouton__texte {
    width: 30%;
  }
}
.bouton__texte:hover {
  background: linear-gradient(to top left, #ae80e5, #fface8);
  -webkit-box-shadow: 0px 6px 14px -6px #000000e3;
  box-shadow: 0px 6px 14px -6px #000000e3;
}

/*Header Page Menu*/
.header__btn {
  border: transparent;
  background-color: transparent;
  display: flex;
  margin-top: 20px;
}
.header__btn #fleche {
  font-size: 16px;
  margin-left: 13px;
  align-items: center;
}

/*Loader*/
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 3;
}
.loader__itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader__item--1 {
  background-color: #FF79DA;
}
.loader__item--2 {
  background-color: #9356DC;
  animation-delay: 0.25s;
}
.loader__item--3 {
  background-color: #99E2D0;
  animation-delay: 0.5s;
}

/*header HomePage*/
.header {
  display: flex;
  margin: auto;
}
.header__back {
  border: transparent;
  background-color: transparent;
}
.header__logo {
  width: 100%;
  height: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.headingSection__image {
  object-fit: cover;
  box-shadow: 0px 15px 10px -15px #0000002e;
  position: relative;
  width: 100%;
  max-height: 512px;
}
.headingSection__title {
  display: flex;
  position: absolute;
  justify-content: space-around;
  width: 100%;
  background-color: white;
  border-radius: 40px 40px 0 0;
  margin-top: -64px;
  max-width: 1440px;
}

/*Page Menu Composants*/
.title__restaurant {
  margin-left: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 992px) {
  .flexSection__desktop {
    display: flex;
    margin-top: 24px;
  }
}

.menuSection {
  margin-left: 12px;
  margin-right: 12px;
}
.menuSection__titre {
  -webkit-animation: appearDelayed;
  animation-name: appearDelayed;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.menuSection__titre:after {
  content: "";
  display: block;
  height: 2px;
  width: 41px;
  background-color: #99E2D0;
}
@media screen and (min-width: 992px) {
  .menuSection {
    width: 33%;
  }
}

/*Animation Plats & Plats*/
@keyframes appearDelayed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#titre-0 {
  animation-delay: 0s;
}

#titre-1 {
  animation-delay: 0.5s;
}

#titre-2 {
  animation-delay: 1s;
}

#titre-3 {
  animation-delay: 1.5s;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
#appear-0 {
  animation-delay: 0s;
}

#appear-1 {
  animation-delay: 0.1s;
}

#appear-2 {
  animation-delay: 0.2s;
}

#appear-3 {
  animation-delay: 0.3s;
}

#appear-4 {
  animation-delay: 0.4s;
}

#appear-5 {
  animation-delay: 0.5s;
}

#appear-6 {
  animation-delay: 0.6s;
}

#appear-7 {
  animation-delay: 0.7s;
}

#appear-8 {
  animation-delay: 0.8s;
}

#appear-9 {
  animation-delay: 0.9s;
}

#appear-10 {
  animation-delay: 1s;
}

#appear-11 {
  animation-delay: 1.1s;
}

#appear-12 {
  animation-delay: 1.2s;
}

.plat {
  -webkit-animation: slideInFromTop;
  animation-name: slideInFromTop;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: flex;
  margin: auto;
  width: 100%;
  flex-direction: column;
  align-content: center;
  border: 2px solid transparent;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.18), -2px 2px 3px rgba(0, 0, 0, 0.18);
  border-radius: 16px;
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
  border: transparent;
}
.plat__nom {
  display: flex;
}
.plat__nom--texte {
  margin-left: 12px;
  margin-top: 10px;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  margin-right: 12px;
}
.plat__whiteSpace {
  display: block;
  transition: 0.5s;
}
.plat__texte {
  display: flex;
  margin-top: -10px;
  margin-bottom: -3px;
  margin-left: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.plat__ingredients {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.plat__prix {
  margin-right: 22px;
  transition: 0.5s;
  margin-left: 8px;
}
.plat:before {
  content: "";
  position: absolute;
  top: 0;
  right: -35%;
  width: 4rem;
  height: 150%;
  background: #99E2D0;
  transition: 0.5s;
  pointer-events: none;
  box-sizing: border-box;
  visibility: hidden;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .plat:before {
    right: -20%;
  }
}
@media screen and (min-width: 992px) {
  .plat:before {
    right: -25%;
  }
}
.plat:hover:before {
  right: 0;
  visibility: visible;
}
.plat:hover .plat__prix, .plat:hover .plat__whiteSpace {
  margin-right: 4rem;
}

.fa-check-circle {
  position: relative;
  align-items: center;
  right: -100%;
  transition: 0.5s;
  color: white;
  font-size: 22px;
}

.plat:hover .fa-check-circle {
  animation: mymove 0.6s;
  right: 32px;
}

@keyframes mymove {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
/*Footer*/
.footer {
  width: 100%;
  background-color: #383838;
  margin: auto;
  color: white;
}

.footerMenu {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  padding-bottom: 28px;
}
@media screen and (min-width: 992px) {
  .footerMenu {
    align-items: center;
  }
}
.footerMenu__logo {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 15px;
  padding-top: 8px;
}
.footerMenu__texte {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 400;
}
.footerMenu a {
  color: white;
}

#footer__iconeCouvert {
  padding-right: 10px;
}

#footer__iconePartenaire {
  padding-right: 6px;
}

/** Up to 767px **/
html {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

body {
  margin: auto;
  overflow-x: hidden;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}

h2 {
  font-size: 16px;
}

header {
  margin: auto;
}

main {
  width: 100%;
}

.bodyContent {
  max-width: 767px;
  margin: auto;
  overflow-x: hidden;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .bodyContent {
    max-width: 992px;
  }
}
@media screen and (min-width: 992px) {
  .bodyContent {
    max-width: 1440px;
  }
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/*Home Page*/
.headerhpdiv {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.headerhp {
  box-shadow: 0px 2px 15px 5px #000000;
}

.headerlogo__homepage {
  width: 100%;
  height: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.location {
  background-color: #ececec;
  width: 100%;
  display: flex;
  margin: auto;
  padding: 16px 0px;
  -webkit-box-shadow: inset 0px 10px 5px -10px #000000;
  box-shadow: inset 0px 10px 5px -10px #000000;
}

.locationDiv {
  display: flex;
  margin: auto;
  padding: 0;
}

#locationDiv__icon {
  color: black;
}

#locationDiv__text {
  padding-left: 16px;
}

.title {
  margin: auto;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 36px;
}

#title__text {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
}

/* Fonctionnement*/
.section1 {
  padding-bottom: 72px;
  margin: auto;
}

#section1__title {
  margin-left: 18px;
  margin-bottom: 46px;
}

#section1__title, #section2__title {
  font-size: 22px;
}

.section1__div {
  margin: auto;
  margin-right: 26px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
@media screen and (min-width: 992px) {
  .section1__div {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.encart {
  display: flex;
  margin: auto;
  width: 100%;
  align-content: center;
  border: 2px solid transparent;
  -webkit-box-shadow: 0px 5px 14px -10px #000000;
  box-shadow: 0px 5px 14px -10px #000000;
  border-radius: 22px;
  margin-bottom: 28px;
}
.encart:hover {
  background-color: rgba(255, 121, 217, 0.13);
}
.encart:hover #encartDiv__iconeMobile, .encart:hover #encartDiv__iconeList, .encart:hover #encartDiv__iconeShop {
  color: #9356DC;
}
@media screen and (min-width: 992px) {
  .encart {
    width: 30%;
  }
}

.encartDiv {
  margin-left: 30px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.encartDiv__number {
  position: absolute;
  left: -45px;
  color: white;
  background-color: #9356DC;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 13px;
}
.encartDiv__text {
  margin-left: 32px;
  margin-left: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#encartDiv__iconeMobile {
  font-size: 18px;
}

#encartDiv__iconeMobile, #encartDiv__iconeList, #encartDiv__iconeShop {
  color: #858585;
}

#fonctionnementTexteIcone1, #fonctionnementTexteIcone2, #fonctionnementTexteIcone3 {
  position: relative;
}

/* Restaurants Home Page*/
.section2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .section2__flexdiv {
    display: flex;
    justify-content: space-between;
  }
}

.restaurantsEncart {
  border: solid #f2f2f2d3 1px;
  border-radius: 16px;
  border-top: transparent;
  display: inline-block;
  box-shadow: 0px 5px 15px 1px #0000002e;
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
}
@media screen and (min-width: 992px) {
  .restaurantsEncart {
    width: 49%;
  }
}

.restaurantsEncartDiv {
  height: 50%;
}
.restaurantsEncartDiv__Image {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0px 15px 10px -15px #0000002e;
  height: 180px;
}
.restaurantsEncartDiv__nouveau {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  padding: 10px;
  top: 8px;
  right: 16px;
}

#restaurantsEncart1, #restaurantsEncart2 {
  position: relative;
}

.encartTexte {
  display: flex;
  flex-wrap: wrap;
  height: 20%;
  margin-bottom: 8px;
  margin-top: 4px;
}
.encartTexte__div {
  flex: 1;
}
.encartTexte__div--nom {
  margin: 8px 0 6px 12px;
}
.encartTexte__div--location {
  margin: 8px 0 6px 12px;
}

#encartTexte__coeur1, #encartTexte__coeur2, #encartTexte__coeur3, #encartTexte__coeur4, #encartTexte__coeur5 {
  font-size: 23px;
  align-content: center;
  margin: auto;
  margin-right: 20px;
}

/*Animation Like*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#encartTexte__coeur1--checked, #encartTexte__coeur2--checked, #encartTexte__coeur3--checked, #encartTexte__coeur4--checked, #encartTexte__coeur5--checked {
  font-size: 23px;
  align-content: center;
  margin: auto;
  margin-right: 20px;
  display: none;
  cursor: pointer;
  background: #FF79DA;
  background: #FF79DA;
  background: -webkit-linear-gradient(to top right, #FF79DA 0%, #9356DC 100%);
  background: -moz-linear-gradient(to top right, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to top right, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

#btn_like1, #btn_like2, #btn_like3, #btn_like4, #btn_like5 {
  border: transparent;
  background: transparent;
  cursor: pointer;
}

#btn_like5 {
  font-size: 23px;
  align-content: center;
  margin: auto;
  margin-right: 24px;
}

#btn_like1:focus #encartTexte__coeur1--checked, #btn_like2:focus #encartTexte__coeur2--checked, #btn_like3:focus #encartTexte__coeur3--checked, #btn_like4:focus #encartTexte__coeur4--checked, #btn_like5:focus #encartTexte__coeur5--checked {
  display: block;
}

#btn_like1:focus #encartTexte__coeur1, #btn_like2:focus #encartTexte__coeur2, #btn_like3:focus #encartTexte__coeur3, #btn_like4:focus #encartTexte__coeur4, #btn_like5:focus #encartTexte__coeur5 {
  display: none;
}

/*# sourceMappingURL=main.css.map */
