$pink: #FF79DA;
$purple: #9356DC;
$mint: #99E2D0;
$white: white;
$whitesmoke: #F2F2F2;
$black: black;
$greylight:rgb(236, 236, 236);
$grey: rgb(56, 56, 56);
$gradient: linear-gradient(#FF79DA, #9356DC);