/*boutton*/
.bouton{
    margin:auto;
    margin-top: 38px;
    margin-bottom: 68px;
    text-align: center;
  & a{
    color: $white;
  }
    &__texte{
    font-size: 15px;
    margin: auto;
    min-width: 180px;
    padding-left: 22px;
    padding-right: 22px;
    align-content: center;
    border: none;
    -webkit-box-shadow: 0px 6px 14px -6px #0000008c; 
    box-shadow: 0px 6px 14px -6px #0000008c;
    border-radius: 32px;
    margin-bottom: 16px;
    height: 52px;
    cursor: pointer;
    color:$white;
    background: linear-gradient(to top left, $purple, $pink);
    @include tablette-only {
            width: 30%;
    }
    @include desktop {
            width: 30%;
    }
    &:hover{
      background: linear-gradient(to top left, lighten($purple, 10%), lighten($pink, 10%));
      -webkit-box-shadow: 0px 6px 14px -6px #000000e3; 
      box-shadow: 0px 6px 14px -6px #000000e3;
    }
  }     
}

/*Header Page Menu*/
.header__btn{
    border: transparent;
    background-color: transparent;
    display: flex;
    margin-top: 20px;
    #fleche{
        font-size: 16px;
        margin-left: 13px;
        align-items: center;
    }
}

/*Loader*/

@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
} 

@keyframes jump {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(0.5rem);
    }
    75% {
      transform: translateY(-0.5rem);
    }
    100% {
      transform: translateY(0);
    }
}

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.90);
    animation: loader 0.01s;
    animation-delay: 3s;
    animation-fill-mode: both;
    z-index: 10000;
    display:flex;
    align-items:center;
    justify-content:center;
  
    &__item {
      height: 1rem;
      width: 1rem;
      border-radius: 1rem;
      animation: jump 1s;
      animation-iteration-count: 3;
  
      &Container {
        display: flex;
        width: 5rem;
        justify-content: space-between;
      }
  
      &--1 {
        background-color: $pink;
      }
  
      &--2 {
        background-color: $purple;
        animation-delay: 0.25s;
      }
  
      &--3 {
        background-color: $mint;
        animation-delay: 0.5s;
      }
    }
}

/*Animation Coeurs*/
.encartTexte__coeur--checked{
  font-size: 23px;
  align-content: center;
  margin: auto;
  margin-right: 20px;
  display: none;
  cursor: pointer;
  background: #FF79DA;
  background: #FF79DA;
  background: -webkit-linear-gradient(to top right, #FF79DA 0%, #9356DC 100%);
  background: -moz-linear-gradient(to top right, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to top right, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;

}

.btn_like{
  border: transparent;
  background: transparent;
  cursor: pointer;
}

.btn_like:hover .encartTexte__coeur--checked {
  display: block;
}
.btn_like:hover .encartTexte__coeur{
  display: none;
}

.btn_like--menu{
  font-size: 23px;
  align-content: center;
  margin: auto;
  margin-right: 6px;
}
