html{
    overflow-x: hidden;
    font-family:'Roboto', sans-serif;
}

body{
    margin: auto;
    overflow-x: hidden;
}

h1{
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
}

h2{
    font-size: 19px;
    font-weight: 900;
}

p{
    font-size: 18px;
}

header{
    margin: auto;
}


main{
    width: 100%;
}

.bodyContent{
    max-width: 767px;
    margin: auto;
    overflow-x: hidden;
    @include tablette-only {
        max-width: 992px;
    }
    @include desktop {
        max-width: 1440px;
    }
}

a{
    text-decoration: none;
    color: $black;
    cursor: pointer;
}
