/** Up to 767px **/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


html{
    overflow-x: hidden;
    font-family:'Roboto', sans-serif;
}

body{
    margin: auto;
    overflow-x: hidden;
}

h1{
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
}

h2{
    font-size: 16px;
}

header{
    margin: auto;
}


main{
    width: 100%;
}

.bodyContent{
    max-width: 767px;
    margin: auto;
    overflow-x: hidden;
    @include tablette-only {
        max-width: 992px;
    }
    @include desktop {
        max-width: 1440px;
    }
}

a{
    text-decoration: none;
    color: $black;
    cursor: pointer;
}
