.header{
    display: flex;
    margin: auto;
    &__back{
        border: transparent;
        background-color: transparent;
    }
    &__logo{
        width: 100%;
        height: 28px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

.headingSection{
    position:relative;
    &__image{
        object-fit: cover;
        box-shadow:  0px 15px 10px -15px #0000002e;
        position: relative;
        width: 100%;
    }
    &__title{
        display: flex;
        position: absolute;
        justify-content: space-around;
        width: 100%;
        background-color: $white;
        border-radius: 40px 40px 0 0;
        bottom: 0;
        #title__coeur{
            font-size: 23px;
            align-content: center;
            margin: auto;
            margin-right: 24px;
        }
    }

}

.title__restaurant{
    margin-left: 14px;
}

.menuSection{
    margin-left: 12px;
    margin-right: 12px;
    &__titre{
        &:after{
            content: "";
            display: block;
            height: 2px;
            width: 41px;
            background-color:#99E2D0;
        }
    } 
}

@keyframes appearDelayed {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#appear-1,#appear-8,#appear-12{
    -webkit-animation: appearDelayed;
    animation-name: appearDelayed;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes slideInFromTop {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100%{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


@for $i from 0 to 13 {
    #appear-#{$i} {
      animation-delay:  #{$i/10}s;
    }
}

.plat{
    -webkit-animation: slideInFromTop;
    animation-name: slideInFromTop;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: column;
    align-content: center;
    border: 2px solid transparent;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.18), -2px 2px 3px rgba(0, 0, 0, 0.18);
    border-radius: 16px;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
    border: transparent;
    &__nom{
        margin-left: 12px;
        margin-top: 10px;
        margin-bottom: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }
    &__texte{
        display: flex;
        margin-top: -10px;
        margin-bottom: -3px;
        margin-left: 12px;
        overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
    }
    &__ingredients{
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
    }
    &__prix{
            margin-right: 22px;
            transition: 0.5s;
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        right: -35%;
        width: 4rem;
        height: 150%;
        background: #99E2D0;
        transition: 0.5s;
        pointer-events: none;
        /*border-radius: 0px 16px 16px 0px;*/
        box-sizing: border-box;
    }

    &:hover:before{
        right:0;
    }
    &:hover .plat__prix{
        margin-right: 4rem;
    }
}

.fa-check-circle{
    position: relative;
    align-items: center;
    right: -100%;
    transition: 0.5s;
    color: $white;
    font-size: 22px;
}

.plat:hover .fa-check-circle{
    animation: mymove 0.6s;
    right:32px;
}

@keyframes mymove {
    100%{
        transform: rotate(360deg);
        -webkit-transform:rotate(360deg)
    }
}

.footer{
    width: 100%;
    background-color: $grey;
    margin: auto;
    color: $white;
}

.footerMenu{
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    padding-bottom: 28px;
    &__logo{
        color: white;
        font-family: 'Shrikhand', cursive;
        font-size: 15px;
        padding-top: 8px;
    }
    &__texte{
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 13px;
        font-weight: 400;
    
    }
    
}

#footer__iconeCouvert{
    padding-right: 10px;
}
#footer__iconePartenaire{
    padding-right: 6px;
}