/*Home Page*/

.headerhpdiv{
    display: flex;
    margin: auto;
    flex-direction: column;
}

.headerhp{

}

.headerlogo__homepage{
    width: 100%;
    height: 42px;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.location{
    background-color: $greylight;
    width: 100%;
    display: flex;
    margin: auto;
    padding: 16px 0px;
}

.locationDiv{
    display: flex;
    margin: auto;
    padding: 0;
}

#locationDiv__icon{
    color: $black;
}

#locationDiv__text{
    padding-left: 16px;
}

.section1{
    padding-bottom: 72px;
    margin: auto;
}

#section1__title{
    margin-left: 18px;
}

.section1__div{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.encart{
    display: flex;
    margin: auto;
    align-content: center;
    border: 2px solid transparent;
    width: 85%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.18), -2px 2px 3px rgba(0, 0, 0, 0.18);
    border-radius: 14px;
    margin-bottom: 16px;
}

.encartDiv{
    margin-left: 30px;
    display: flex;
    align-items: center;
    &__number{
        position: absolute;
        left: -45px;
        color: white;
        background-color: $purple;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        align-items: center; 
        justify-content: center;
        display: flex;
        font-size: 13px;
    }
    &__text{
        margin-left: 32px;
    }
}

#fonctionnementTexteIcone1, #fonctionnementTexteIcone2, #fonctionnementTexteIcone3{
    position: relative;
}

.restaurantsEncart{
    border: solid #f2f2f2d3 1px;
    border-radius: 16px;
    border-top: transparent;
    display:inline-block;
    box-shadow:  0px 5px 15px 1px #0000002e;
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
}

.section2{
    margin-left: 14px;
    margin-right: 14px;
}

.restaurantsEncartDiv{
    height: 50%;
    &__Image{
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        box-shadow:  0px 15px 10px -15px #0000002e;
        height: 180px;
    }
    &__nouveau{
        position: absolute;
        background-color: $mint;
        color:#008766;
        border-radius: 2px;
        padding: 10px;
        top: 8px;
        right: 16px;
    }
}

#restaurantsEncart1, #restaurantsEncart2{
    position: relative;
}

.encartTexte{
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    margin-bottom: 8px;
    margin-top: 4px;
    &__div{
        flex: 1;
        &--nom{
            margin: 8px 0 6px 12px;
        }
        &--location{
            margin: 8px 0 6px 12px;
        }
    }
}

#coeur1, #coeur2, #coeur3, #coeur4{
    font-size: 23px;
    align-content: center;
    margin: auto;
    margin-right: 20px;
}